.career, .school, .army, .family {
  grid-column: 2 / 3; /* Place content in the middle column */
  grid-row: 2 / 3;
  margin: 50px 100px 100px 100px;
  box-shadow: 20px 20px 20px 20px rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll; /* Ensure vertical scrolling */
  min-height: 500px; /* Minimum height to prevent content from cutting off */
  max-height: 100vh;
}

@media only screen and (max-width: 1000px) {
  .career, .school, .army, .family {
      max-height: 630px;
      min-width: 430px; /* Ensure divs do not shrink below 300px */
      height: 100vh;
      margin: 20px; /* Add space around divs to prevent overlap */
      overflow: auto; /* Make div content scrollable if it overflows */
      box-shadow: 20px 20px 20px 20px rgba(0, 0, 0, 0.5);
  }
}

@media only screen and (max-width: 600px) {
  .career, .school, .army, .family {
      max-height: 630px;
      min-width: 300px; /* Ensure divs do not shrink below 300px */
      height: 100vh;
      margin: 20px; /* Add space around divs to prevent overlap */
  }
}

@media only screen and (max-width: 300px) {
  .career, .school, .army, .family {
      max-height: 660px;
      min-width: 280px; /* Ensure divs do not shrink below 300px */
      height: 100vh;
      margin: 20px; /* Add space around divs to prevent overlap */
      font-size: 12px;
  }
}

/* Custom scrollbar styles for WebKit browsers */
@media only screen and (max-width: 600px) {
  .career::-webkit-scrollbar, 
  .school::-webkit-scrollbar, 
  .army::-webkit-scrollbar, 
  .family::-webkit-scrollbar {
      width: 12px; /* Wider scrollbars for smaller screens */
  }

  .career::-webkit-scrollbar-thumb, 
  .school::-webkit-scrollbar-thumb, 
  .army::-webkit-scrollbar-thumb, 
  .family::-webkit-scrollbar-thumb {
      background-color: darkgrey;
      border-radius: 10px;
  }

  .career::-webkit-scrollbar-track, 
  .school::-webkit-scrollbar-track, 
  .army::-webkit-scrollbar-track, 
  .family::-webkit-scrollbar-track {
      background: white;
  }
}

@media only screen and (max-width: 300px) {
  .career::-webkit-scrollbar, 
  .school::-webkit-scrollbar, 
  .army::-webkit-scrollbar, 
  .family::-webkit-scrollbar {
      width: 12px; /* Even wider scrollbars for very small screens */
  }

  .career::-webkit-scrollbar-thumb, 
  .school::-webkit-scrollbar-thumb, 
  .army::-webkit-scrollbar-thumb, 
  .family::-webkit-scrollbar-thumb {
      background-color: darkgrey;
      border-radius: 10px;
  }

  .career::-webkit-scrollbar-track, 
  .school::-webkit-scrollbar-track, 
  .army::-webkit-scrollbar-track, 
  .family::-webkit-scrollbar-track {
      background: white;
  }
}
